<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="is_submited">
                <h1>
                    {{notify}}
                </h1>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Cadastrar</h4>
                        <p class="card-category">Formulário de cadastro de novo agendamento</p>
                    </div>
                    <div class="card-body">
                        <form novalidate [formGroup]="form">
                            <div class="form-row">
                                <div class="form-group col-md-6"
                                    *ngIf="consultores$ | async as consultores; else carregando_consultores">
                                    <label for="consultor">Consultor</label>
                                    <select class="form-control selectpicker" data-style="btn btn-link" id="consultor"
                                        (change)="getConsultorServicos($event.target.value) "
                                        formControlName="consultor">
                                        <option *ngFor="let consultor of consultores.result" value="{{consultor.id}}">
                                            {{consultor.nome}}</option>
                                    </select>
                                </div>
                                <ng-template #carregando_consultores>
                                    <div class="form-group col-md-6">
                                        <label>Carregando consultores</label>
                                    </div>
                                </ng-template>
                                <div class="form-group col-md-6"
                                    *ngIf="servicos$ | async as servicos; else carregando_servico">
                                    <label for="servico">Serviço</label>
                                    <select class="form-control selectpicker" data-style="btn btn-link" id="servico"
                                        formControlName="servico">
                                        <option *ngFor="let servico of servicos.result" value="{{servico.id}}">
                                            {{servico.descricao}}
                                        </option>
                                    </select>
                                </div>
                                <ng-template #carregando_servico>
                                    <div class="form-group col-md-6">
                                        <label>Carregando serviços</label>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="form-group">
                                <label for="data-agendamento">Data do agendamento</label>
                                <app-datepicker (dateChange)="receberData($event)" [id_consultor]="id_consultor"
                                    [feriados]="feriados$ | async" [agendamentos]="agendamentos$ | async">
                                </app-datepicker>
                            </div>
                            <div class="form-group">
                                <label for="email-cliente">Email do Cliente</label>
                                <input type="email" class="form-control" id="email-cliente"
                                    placeholder="name@example.com" formControlName="email_cliente">
                            </div>
                            <div class="form-group align-center">
                                <button class="btn btn-danger" (click)="onSubmit()">Salvar</button>
                            </div>

                        </form>
                        <ng-template #carregando_form>
                            <span>Carregando formulário</span>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>