<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats" *ngIf="agendamentos$ | async as agendamentos; else loading_agends">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Agendamentos</p>
                        <h3 class="card-title">{{agendamentos.result.length}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="javascript:void(0)">Agendamentos registrados</a>
                        </div>
                    </div>
                </div>
                <ng-template #loading_agends>
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">loop</i>
                            </div>
                            <p class="card-category">Carregando</p>
                            <h3 class="card-title">...
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <a href="javascript:void(0)">Agendamentos registrados</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats" *ngIf="consultores$ | async as consultores; else loading_consults">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <p class="card-category">Consultores</p>
                        <h3 class="card-title">{{consultores.result.length}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="javascript:void(0)">Consultores registrados</a>
                        </div>
                    </div>
                </div>
                <ng-template #loading_consults>
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">loop</i>
                            </div>
                            <p class="card-category">Carregando</p>
                            <h3 class="card-title">...
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <a href="javascript:void(0)">Consultores registrados</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats" *ngIf="servicos$ | async as servicos; else loading_servcs">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">miscellaneous_services</i>
                        </div>
                        <p class="card-category">Serviços</p>
                        <h3 class="card-title">{{servicos.result.length}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="javascript:void(0)">Serviços registrados</a>

                        </div>
                    </div>
                </div>
                <ng-template #loading_servcs>
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">loop</i>
                            </div>
                            <p class="card-category">Carregando</p>
                            <h3 class="card-title">...
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <a href="javascript:void(0)">Serviços registrados</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
</div>